## Archivos y carpetas generados por la compilación
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Archivos de paquetes
# Si estás usando NuGet, ignora las carpetas de paquetes
packages/

## Archivos de configuración local
*.rsuser
*.vspscc

## Carpetas de configuración de Visual Studio
.vs/
.vscode/

## Archivos de configuración de bases de datos (si aplica)
*.mdf
*.ldf

## Archivos temporales
*.tmp
*.bak
*.swp
*~.nib

## Otros archivos y carpetas
*.log
*.scc

## Archivos de configuración de herramientas externas
_ReSharper*/
*resharper
*.tss
